<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #invoiceForm="ngForm">
      <div class="form-group">
        <label for="name">Cliente</label>
        <input type="text" [(ngModel)]="invoice.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter your name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Client is required</div>
      <div class="form-group">
        <label for="date">Fecha</label>
        <input type="date" [(ngModel)]="invoice.date"
               class="form-control"
               id="date"
               name="date"
               required #email="ngModel">
        <div [hidden]="!date.pristine" class="alert alert-danger">Date is required</div>
      </div>
      <button type="submit" [disabled]="!invoiceForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
